{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SignUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Registration-Form-with-Photo.css') }}">
{% endblock %}

{% block content %}
<div style="background: rgb(132,190,88);">
    <div class="register-photo" style="background: rgb(132,190,88);">
        <div class="form-container"><div class="image-holder"></div>
            <form method="POST">
                <h2 class="text-center" style="color: rgb(249,182,141);"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <select class="form-control"><optgroup><option value="12" selected>Select First Community</option><option value="13">Womxn</option><option value="14">Latinx</option><option value="15">Black</option><option value="16">Asian</option><option value="17">Pacific Islander</option><option value="18">Indigenous</option><option value="19">LGBTQIA+</option><option value="20">Low Income</option></optgroup></select>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the terms &amp; conditions.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(132,190,88);">Sign Up</button></div><a class="already" href="#">You already have an account? Login here.</a></form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</div>
{% endblock %}