<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %} - Imposter Who?</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="https://use.fontawesome.com/12c3e2ccec.js"></script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Imposter Who?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.user %}
          <li class="nav-item"><a class="nav-link">{{ g.user['email'] }}</a>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out <i class="fa fa-sign-out"></i></a>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}"><i class="fa fa-user-plus"></i> Register</i></a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i> Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    {% block header %}{% endblock %}
  </header>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{messages[0]}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
    {% endwith %}  
  {% block content %}{% endblock %}
</body>
</html>