{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
{% endblock %}

{% block content %} 
    <div class="contact-clean" style="background: rgb(249,249,126);">
        <form method="post">
            <h2 class="text-center" style="color: #055ada;">Message Suggestions</h2>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group" style="border-color: rgb(249,249,126);"><button class="btn btn-primary bg-primary border rounded" type="submit" style="background: rgb(132,190,88);border-color: rgb(132,190,88);">submit </button></div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}